* {
	top: 0; left: 0;
	padding: 0; margin: 0;
	box-sizing: border-box;
	font-family: Verdana;
}

html {
	/*background-color: black;*/
}

body {
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

#terminal {
	width: 80%;
	height: 300px;
	padding: 20px;
	background-color: white;
	overflow: auto;
	overflow-wrap: break-word;
}

#cmd {
	width: 80%;
	height: 30px;
	font-size: 15px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
}

#queue{
  white-space: nowrap;
}
#backlog{
  height: 205px;
  width: 563px;
  background-color: #9b9b9b;
  display: inline-block;
  border: 24px solid #d8d8d8;
  overflow: hidden;
}
#backlog > div {
  display: inline-block;
  text-align: center;
  padding: 22px;
}
#next{
  margin-left: 48px;
  height: 205px;
  width: 205px;
  background-color: #9b9b9b;
  border: 24px solid #d8d8d8;
  display: inline-block;
  overflow: hidden;
}
#next > img {
  display: block;
  margin: auto;
}