* {
	padding: 0; margin: 0;
	box-sizing: border-box;
	font-family: 'Source Code Pro';
}

html {
	background-color: black;
	font-size: 15px;
	color: white;
}

body {
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
  position: relative;
}
#container {
  height: 400px;
  position: relative;
  overflow: hidden;
  background: #333;
  width: 810px;
  margin: auto;
}

#radar {
  display: block;
  position: absolute;
  right: 50%;
  bottom: 0;
}

.waves {
  border-radius: 50%;
  border: 5px solid rgba(184, 233, 134, 0.5);
  position: absolute;
  right: 0px;
  animation: wave 5s linear infinite;
}
@keyframes wave {
  0% {
    top: -25px;
    right: -25px;
    width: 1%;
    height: 1%;
  }
  100% {
    top: -700px;
    right: -700px;
    width: 1500px;
    height: 1500px;
  }
}
.waves:before {
  content: ' ';
  display: block;
  border: 5px solid rgba(184, 233, 134, 0.5);
  border-radius: 50%;
  bottom: 250px;
  left: 250px;
  height: 100%;
  width: 100%;
  position: absolute;
}
.waves:after {
  content: ' ';
  display: block;
  border: 5px solid rgba(184, 233, 134, 0.5);
  border-radius: 50%;
  bottom: 500px;
  left: 500px;
  height: 100%;
  width: 100%;
  position: absolute;
}

#controlText {
	margin-bottom: 10px;
}

#control {
	width: 500px;
	margin: 10px;
	display: flex;
	flex-flow: row wrap;
}

#terminal {
	color: black;
	width: 500px;
	height: 300px;
	padding: 20px;
	background-color: white;
	overflow: auto;
	overflow-wrap: break-word;
}

#arrow {
  width: 100px;
  height: 30px;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
  padding-left: 20px;
  padding-right: 5px;
}

#cmd {
	width: 400px;
	height: 30px;
	font-size: 15px;
	padding-right: 15px;
	overflow: hidden;
	outline: none;
	border-style: none;
}

#queue{
  white-space: nowrap;
}
#backlog{
  height: 140px;
  width: 400px;
  background-color: #9b9b9b;
  display: inline-block;
  border: 5px solid #d8d8d8;
  overflow: hidden;
  margin: 0;
}
#backlog > div {
  display: inline-block;
  text-align: center;
  padding: 14px;
}
#next{
  height: 140px;
  width: 140px;
  background-color: #9b9b9b;
  border: 5px solid #d8d8d8;
  margin: 0;
  display: inline-block;
  overflow: hidden;
}
#next > img {
  display: block;
  margin: auto;
<<<<<<< HEAD
}
#container {
  height: 400px;
  position: relative;
  overflow: hidden;
  background: #333;
  width: 810px;
  margin: auto;
}

#radar {
  display: block;
  position: absolute;
  right: 50%;
  bottom: 0;
}

.waves {
  border-radius: 50%;
  border: 5px solid rgba(184, 233, 134, 0.5);
  position: absolute;
  animation: wave 5s linear infinite;
}
@keyframes wave {
  0% {
    top: -25px;
    right: -25px;
    width: 1%;
    height: 1%;
  }
  100% {
    top: -500px;
    right: -500px;
    width: 1500px;
    height: 1500px;
  }
}
.waves:before {
  content: ' ';
  display: block;
  border: 5px solid rgba(184, 233, 134, 0.5);
  border-radius: 50%;
  bottom: 250px;
  left: 250px;
  height: 100%;
  width: 100%;
  position: absolute;
}
.waves:after {
  content: ' ';
  display: block;
  border: 5px solid rgba(184, 233, 134, 0.5);
  border-radius: 50%;
  bottom: 500px;
  left: 500px;
  height: 100%;
  width: 100%;
  position: absolute;
}
