* {
	top: 0; left: 0;
	padding: 0; margin: 0;
	box-sizing: border-box;
	font-family: 'Source Code Pro';
}

html {
	background-color: black;
	font-size: 15px;
	color: white;
}

body {
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

#controlText {
	margin-bottom: 10px;
}

#control {
	width: 500px;
	margin: 10px;
	display: flex;
	flex-flow: row wrap;
}

#terminal {
	color: black;
	width: 500px;
	height: 300px;
	padding: 20px;
	background-color: white;
	overflow: auto;
	overflow-wrap: break-word;
}

#arrow {
	color: black;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

#cmd {
	width: 400px;
	height: 30px;
	font-size: 15px;
	padding-right: 15px;
	overflow: hidden;
	outline: none;
	border-style: none;
}

#queue{
  white-space: nowrap;
}
#backlog{
  height: 205px;
  width: 563px;
  background-color: #9b9b9b;
  display: inline-block;
  border: 24px solid #d8d8d8;
  overflow: hidden;
}
#backlog > div {
  display: inline-block;
  text-align: center;
  padding: 22px;
}
#next{
  margin-left: 48px;
  height: 205px;
  width: 205px;
  background-color: #9b9b9b;
  border: 24px solid #d8d8d8;
  display: inline-block;
  overflow: hidden;
}
#next > img {
  display: block;
  margin: auto;
}